*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #515151;
}
table{
    border-spacing: 7px;
}
.wapper{
    display: flex;
    justify-content: center;
    align-items: center;

}
.left-top{
    background-color: white;
    width: 138px;
    height: 66px;
}
.center-top{
    background-color: white;
    height: 66px;
    width: 237px;
}
.right-top{
    background-color: black;
    height: 66px;
    width: 91px;
}
.right-top-1{
    background-color: white;
    height: 66px;
    width: 91px;
}
.td-2-left{
    background-color: white;
    width: 93px;
    height: 136px;
}
.cvadre-center{
    width: 282px;
    height: 282px;
    background-color: blue;
}
.td-2-right{
    width: 190px;
    height: 136px;
    background-color: #fff700;
}
.left-tr-3{
    background-color: white;
    height: 208px;
    width: 93px;
}
.right-tr-3{
    background-color: white;
    height: 135px;
    width: 91px;
}
.cvadro-tr-4-left{
    background-color: black;
    width: 134px;
    height: 134px;
}
.right-tr-4{
    width: 138px;
    height: 66px;
    background-color: white;
}
.right-tr-4-right{
    width: 190px;
    height: 66px;
    background-color: white;
}
.left-tr-5{
   height: 208px;
    width: 92px;
    background-color: #fff700;
}
.right-tr-5{
    background-color: white;
    width: 138px;
    height: 66px;
}
.cvadro-tr-5{
    background-color: red;
    width: 190px;
    height: 137px;
}
.cvadre-tr-6{
    background-color: white;
    width: 134px;
    height: 134px;
}
.center-tr-6{
    background-color: black;
    width: 138px;
    height: 66px;
}
.center-tr-7{
    background-color: #fff800;
    width: 138px;
    height: 66px;
}
.left-cvadrat-tr-7{
    background-color: blue;
    width: 190px;
    height: 137px;
}
.left-tr-8{
    width: 92px;
    height: 66px;
    background-color: white;
}
.center-tr-8{
    height: 66px;
    width: 66px;
    background-color: white;
}
.center-tr-8-minicvadre{
    background-color: black;
    width: 64px;
    height: 64px;
}
.minicvadre-tr-8{
    background-color: #fff700;
    width: 64px;
    height: 64px;
}